@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap");

.App {
  background: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
}
.main-content {
  margin-left: 250px; /* Add margin to the left to avoid content being hidden behind the Sidebar */
  padding: 20px;
  flex-grow: 1;
  display: flex; /* Allow content to take up remaining space */
}

.SidebarList .row {
  width: 100%;
  height: 50px;
  display: flex;
  list-style-type: none;
  color: black;
  font-family: "Aleo", serif;
  font-size: 16px; /* Optional: Adjust font size */
  align-items: center;
  font-weight: bold;
  padding: 10px;
}
.SidebarList #active {
  background-color: #0796e8;
  border-radius: 15px;
  color: white;
  padding: 5px;
}
.SidebarList .row:hover {
  cursor: pointer;
  background-color: #0796e8;
  border-radius: 15px;
  color: white;
  padding: 5px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
